<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scwang.smartrefresh.layout">

    <!--<application>-->
        <!--&lt;!&ndash;android:allowBackup="true"&ndash;&gt;-->
        <!--&lt;!&ndash;android:supportsRtl="true"&ndash;&gt;-->
    <!--</application>-->

</manifest>
